<a href="https://colab.research.google.com/github/AvinashShrikhande/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python_Basics

In [ ]:
# Python's 2 main types for Numbers is int and float (or integers and floating point numbers)

type(1)   #int  
type(-10) #int
type(0)   #int
type(0.0) #float
type(2.2) #float
type(4E2) #float - 4*10 to the power of 2

In [ ]:
# Arithmetic

 10 + 3  # 13
 10 - 3  # 7
 10 * 3  # 30
 10 ** 3 # 1000
 10 / 3  # 3.3333333333333335
 10 // 3 # 3 --> floor division - no decimals and returns an int
 10 % 3  # 1 --> modulo operator - return the reminder. Good for deciding if number is even or odd

In [ ]:
# Basic Functions

 pow(5, 2)      # 25 --> like doing 5**2
 abs(-50)       # 50
 round(5.46)    # 5
 round(5.468, 2)# 5.47 --> round to nth digit
 bin(512)       # '0b1000000000' -->  binary format
 hex(512)       # '0x200' --> hexadecimal format

In [ ]:
# Converting Strings to Numbers

 age = input("How old are you?")
 age = int(age)
 pi = input("What is the value of pi?")
 pi = float(pi)

## **Variables**

Variables are easy to understand. They simply point to values.

In [1]:
a = 1   # creating a variable of name 'a' equals to 1
b = 2   # create another variable
a       # get the value that the variable points to

1

We can also change the value of a variable after setting it

In [3]:
a = 2    # change values of variable to 2 instead of 1
a

2

In [4]:
a = 1
b = a  # this makes b point to 1, not a
a = 5
b      # b didn't change when a changed

1

Variable names are case-sensitive, like many other things in Python.

In [6]:
thing = 1
THING = 2
thIng = 3

In [7]:
thing

1

In [8]:
THING

2

In [9]:
 thIng

3

There are also words that cannot be used as variable names because they have a special meaning. They are called keywords, and we can run help('keywords') to see the full list if we want to. We'll learn to use most of them later in this tutorial. Trying to use a keyword as a variable name causes a syntax error.

In [5]:
if = 123

SyntaxError: ignored

When assigning something to a variable using a =, the right side of the = is always executed before the left side. This means that we can do something with a variable on the right side, then assign the result back to the same variable on the left side.

In [10]:
a = 1
a = a + 1
a

2

To do something to a variable (for example, to add something to it) we can also use +=, -=, *= and /= instead of +, -, * and /. The "advanced" %= also works

In [ ]:
a += 2          # a = a + 2
a -= 2          # a = a - 2
a *= 2          # a = a * 2
a /= 2          # a = a / 2

This is not only limited to integers

In [11]:
a = 'hello'
a *= 3
a += 'world'
a

'hellohellohelloworld'

### **Strings**

strings in python as stored as sequences of letters in memory

In [ ]:
type('Hellloooooo') # str

'I\'m thirsty'
"I'm thirsty"
"\n" # new line.
"\t" # adds a tab

'Hey you!'[4] # y
name = 'Avinash Shrikhande'
name[4]     # h
name[:]     # Rashmi Bhujbal
name[1:]    # ashmi Bhujbal
name[:1]    # R
name[-1]    # m
name[::1]   # Rashmi Bhujbal
name[::-1]  # labjuhB imhsaR
name[0:10:2]# Rsm B
# : is called slicing and has the format [ start : end : step ]

In [ ]:

'Hi there ' + 'Timmy' # 'Hi there Timmy' --> This is called string concatenation
'*'*10 # **********

**# Basic Functions**

In [ ]:

len('turtle') # 6

# Basic Methods
'  I am alone '.strip()               # 'I am alone' --> Strips all whitespace characters from both ends.
'On an island'.strip('d')             # 'On an islan' --> # Strips all passed characters from both ends.
'but life is good!'.split()           # ['but', 'life', 'is', 'good!']
'Help me'.replace('me', 'you')        # 'Help you' --> Replaces first with second param
'Need to make fire'.startswith('Need')# True
'and cook rice'.endswith('rice')      # True
'bye bye'.index('e')                  # 2
'still there?'.upper()                # STILL THERE?
'HELLO?!'.lower()                     # hello?!
'ok, I am done.'.capitalize()         # 'Ok, I am done.'
'oh hi there'.find('i')               # 4 --> returns the starting index position of the first occurence
'oh hi there'.count('e')              # 2

In [ ]:
# String Formatting
name1 = 'Rashmi'
name2 = 'Niki'
print(f'Hello there {name1} and {name2}')       # Hello there Rashmi and Niki - Newer way to do things as of python 3.6
print('Hello there {}, {}'.format(name1, name2))# Hello there Rashmi and Niki
print('Hello there %s and %s' %(name1, name2))  # Hello there Rashmi and Niki --> you can also use %d, %f, %r for integers, floats, string representations of objects respectively

### **Boolean**

In [ ]:
True or False. Used in a lot of comparison and logical operations in Python

bool(True)
bool(False)

# all of the below evaluate to False. Everything else will evaluate to True in Python.
print(bool(None))
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(''))
print(bool(range(0)))
print(bool(set()))

# See Logical Operators and Comparison Operators section for more on booleans.

### **Lists**

Unlike strings, lists are mutable sequences in python

In [ ]:
my_list = [1, 2, '3', True]# we assume this list won't mutate for each example below
len(my_list)               # 4
my_list.index('3')         # 2
my_list.count(2)           # 1 --> count how many times 2 appears

my_list[3]                 # True
my_list[1:]                # [2, '3', True]
my_list[:1]                # [1]
my_list[-1]                # True
my_list[::1]               # [1, 2, '3', True]
my_list[::-1]              # [True, '3', 2, 1]
my_list[0:3:2]             # [1, '3']

# : is called slicing and has the format [ start : end : step ]
# Add to List
my_list * 2                # [1, 2, '3', True, 1, 2, '3', True]
my_list + [100]            # [1, 2, '3', True, 100] --> doesn't mutate origina list, creates new one
my_list.append(100)        # None --> Mutates original list to [1, 2, '3', True, 100]          # Or: <list> += [<el>]
my_list.extend([100, 200]) # None --> Mutates original list to [1, 2, '3', True, 100, 200]
my_list.insert(2, '!!!')   # None -->  [1, 2, '!!!', '3', True] - Inserts item at index and moves the rest to the right.

' '.join(['Hello','There'])# 'Hello There' --> Joins elements using string as separator.

### **Copy a List**

In [ ]:
basket = ['apples', 'pears', 'oranges']
new_basket = basket.copy()
new_basket2 = basket[:]

In [ ]:
# Remove from List
[1,2,3].pop()    # 3 --> mutates original list, default index in the pop method is -1 (the last item)
[1,2,3].pop(1)   # 2 --> mutates original list
[1,2,3].remove(2)# None --> [1,3] Removes first occurrence of item or raises ValueError.
[1,2,3].clear()  # None --> mutates original list and removes all items: []
del [1,2,3][0] #

In [ ]:
# Ordering
[1,2,5,3].sort()         # None --> Mutates list to [1, 2, 3, 5]
[1,2,5,3].sort(reverse=True) # None --> Mutates list to [5, 3, 2, 1]
[1,2,5,3].reverse()      # None --> Mutates list to [3, 5, 2, 1]
sorted([1,2,5,3])        # [1, 2, 3, 5] --> new list created
list(reversed([1,2,5,3]))# [3, 5, 2, 1] --> reversed() returns an iterator

In [ ]:
# Useful operations
1 in [1,2,5,3]  # True
min([1,2,3,4,5])# 1
max([1,2,3,4,5])# 5
sum([1,2,3,4,5])# 15

In [ ]:
# Get First and Last element of a list
mList = [63, 21, 30, 14, 35, 26, 77, 18, 49, 10]
first, *x, last = mList
print(first) #63
print(last) #10

In [ ]:
# Matrix
matrix = [[1,2,3], [4,5,6], [7,8,9]]
matrix[2][0] # 7 --> Grab first first of the third item in the matrix object

# Looping through a matrix by rows:
mx = [[1,2],[3,4]]
for row in range(len(mx)):
	for col in range(len(mx)):
		print(mx[row][col]) # 1 2 3 4
    
# Transform into a list:
[mx[row][col] for row in range(len(mx)) for col in range(len(mx))] # [1,2,3,4]

# Combine columns with zip and *:
[x for x in zip(*mx)] # [(1, 3), (2, 4)]

In [ ]:
# List Comprehensions
# new_list[<action> for <item> in <iterator> if <some condition>]
a = [i for i in 'hello']                  # ['h', 'e', 'l', 'l', '0']
b = [i*2 for i in [1,2,3]]                # [2, 4, 6]
c = [i for i in range(0,10) if i % 2 == 0]# [0, 2, 4, 6, 8]

In [ ]:
# Advanced Functions
list_of_chars = list('Helloooo')                                   # ['H', 'e', 'l', 'l', 'o', 'o', 'o', 'o']
sum_of_elements = sum([1,2,3,4,5])                                 # 15
element_sum = [sum(pair) for pair in zip([1,2,3],[4,5,6])]         # [5, 7, 9]
sorted_by_second = sorted(['hi','you','man'], key=lambda el: el[1])# ['man', 'hi', 'you']
sorted_by_key = sorted([
                       {'name': 'Rash', 'age': 22},
                       {'name':'chinmay', 'age': 25},
                       {'name': 'Niki', 'age': 23}],
                       key=lambda el: (el['name']))# [{'name': 'Rash', 'age': 22}, {'name': 'chinmay', 'age': 25}, {'name': 'Niki', 'age': 23}]

In [ ]:
# Read line of a file into a list
with open("myfile.txt") as f:
  lines = [line.strip() for line in f]

### **Dictionaries**

Also known as mappings or hash tables. They are key value pairs that DO NOT retain order

In [ ]:
my_dict = {'name': 'Rashmi Bhujbal', 'age': 22, 'magic_power': False}
my_dict['name']                      # Rashmi Bhujbal
len(my_dict)                         # 3
list(my_dict.keys())                 # ['name', 'age', 'magic_power']
list(my_dict.values())               # ['Rashmi Bhujbal', 22, False]
list(my_dict.items())                # [('name', 'Rashmi Bhujbal'), ('age', 22), ('magic_power', False)]
my_dict['favourite_snack'] = 'Grapes'# {'name': 'Rashmi Bhujbal', 'age': 22, 'magic_power': False, 'favourite_snack': 'Grapes'}
my_dict.get('age')                   # 30 --> Returns None if key does not exist.
my_dict.get('ages', 0 )              # 0 --> Returns default (2nd param) if key is not found

#Remove key
del my_dict['name']
my_dict.pop('name', None)

In [ ]:
my_dict.update({'cool': True})                                         # {'name': 'Rashmi Bhujbal', 'age': 23, 'magic_power': False, 'favourite_snack': 'Grapes', 'cool': True}
{**my_dict, **{'cool': True} }                                         # {'name': 'Rashmi Bhujbal', 'age': 23, 'magic_power': False, 'favourite_snack': 'Grapes', 'cool': True}
new_dict = dict([['name','Rashmi'],['age',23],['magic_power',False]])  # Creates a dict from collection of key-value pairs.
new_dict = dict(zip(['name','age','magic_power'],['Rashmi',23, False]))# Creates a dict from two collections.
new_dict = my_dict.pop('favourite_snack')                              # Removes item from dictionary.

In [ ]:
# Dictionary Comprehension
{key: value for key, value in new_dict.items() if key == 'age' or key == 'name'} # {'name': 'Rashmi', 'age': 23} --> Filter dict by keys

### **Tuples**

Like lists, but they are used for immutable thing (that don't change)

In [ ]:
my_tuple = ('apple','grapes','mango', 'grapes')
apple, grapes, mango, grapes = my_tuple# Tuple unpacking
len(my_tuple)                          # 4
my_tuple[2]                            # mango
my_tuple[-1]                           # 'grapes'

In [ ]:
# Immutability
my_tuple[1] = 'donuts'  #TypeError
my_tuple.append('candy')# AttributeError

In [ ]:
# Methods
my_tuple.index('grapes') # 1
my_tuple.count('grapes') # 2

In [ ]:
# Zip
list(zip([1,2,3], [4,5,6])) # [(1, 4), (2, 5), (3, 6)]

In [ ]:
# unzip
z = [(1, 2), (3, 4), (5, 6), (7, 8)] #some output of zip() function
unzip = lambda z: list(zip(*z))
unzip(z)

### **Sets**

Unorderd collection of unique elements.

In [ ]:
my_set = set()
my_set.add(1)  # {1}
my_set.add(100)# {1, 100}
my_set.add(100)# {1, 100} --> no duplicates!

In [ ]:
new_list = [1,2,3,3,3,4,4,5,6,1]
set(new_list)           # {1, 2, 3, 4, 5, 6}

my_set.remove(100)      # {1} --> Raises KeyError if element not found
my_set.discard(100)     # {1} --> Doesn't raise an error if element not found
my_set.clear()          # {}
new_set = {1,2,3}.copy()# {1,2,3}

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)               # {1,2,3,4,5}
set4 = set1.intersection(set2)        # {3}
set5 = set1.difference(set2)          # {1, 2}
set6 = set1.symmetric_difference(set2)# {1, 2, 4, 5}
set1.issubset(set2)                   # False
set1.issuperset(set2)                 # False
set1.isdisjoint(set2)                 # False --> return True if two sets have a null intersection.

In [ ]:
# Frozenset
# hashable --> it can be used as a key in a dictionary or as an element in a set.
<frozenset> = frozenset(<collection>)

### **Comparison Operators**

In [ ]:
==                   # equal values
!=                   # not equal
>                    # left operand is greater than right operand
<                    # left operand is less than right operand
>=                   # left operand is greater than or equal to right operand
<=                   # left operand is less than or equal to right operand
<element> is <element> # check if two operands refer to same object in memory

### **Logical Operators**

In [ ]:
1 < 2 and 4 > 1 # True
1 > 3 or 4 > 1  # True
1 is not 4      # True
not True        # False
1 not in [2,3,4]# True

if <condition that evaluates to boolean>:
  # perform action1
elif <condition that evaluates to boolean>:
  #perform action2
else:
  # perform action3

### **Loops**

In [ ]:
my_list = [1,2,3]
my_tuple = (1,2,3)
my_list2 = [(1,2), (3,4), (5,6)]
my_dict = {'a': 1, 'b': 2. 'c': 3}

for num in my_list:
    print(num) # 1, 2, 3

for num in my_tuple:
    print(num) # 1, 2, 3

for num in my_list2:
    print(num) # (1,2), (3,4), (5,6)

for num in '123':
    print(num) # 1, 2, 3

for k,v in my_dict.items(): #Dictionary Unpacking
    print(k) # 'a', 'b', 'c'
    print(v) # 1, 2, 3

while <condition that evaluates to boolean>:
  # action
  if <condition that evaluates to boolean>:
    break # break out of while loop
  if <condition that evaluates to boolean>:
    continue #continue to the next line in the block

### **Range**

In [ ]:
range(10)          # range(0, 10) --> 0 to 9
range(1,10)        # range(1, 10)
list(range(0,10,2))# [0, 2, 4, 6, 8]

### **Enumerate**

In [ ]:
for i, el in enumerate('helloo'):
  print(f'{i}, {el}')
# 0, h
# 1, e
# 2, l
# 3, l
# 4, o
# 5, o

### **Counter**

In [ ]:
from collections import Counter
colors = ['red', 'blue', 'yellow', 'blue', 'red', 'blue']
counter = Counter(colors)# Counter({'blue': 3, 'red': 2, 'yellow': 1})
counter.most_common()[0] #('blue', 3)

Named Tuple



*   Tuple is an immutable and hashable list.

*   Named tuple is its subclass with named elements.

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
p = Point(1, y=2)# Point(x=1, y=2)
p[0]             # 1
p.x              # 1
getattr(p, 'y')  # 2
p._fields        # Or: Point._fields #('x', 'y')

In [ ]:
from collections import namedtuple
Person = namedtuple('Person', 'name height')
person = Person('Jean-Luc', 187)
f'{person.height}'           # '187'
'{p.height}'.format(p=person)# '187'

### **Scope**

If variable is being assigned to anywhere in the scope, it is regarded as a local variable, unless it is declared as a 'global' or a 'nonlocal'.

In [ ]:
def get_counter():
   i = 0
   def out():
       nonlocal i
       i += 1
       return i
   return out

### **Module**

In [ ]:
if __name__ == '__main__': # Runs main() if file wasn't imported.
   main()

In [ ]:
import <module_name>
from <module_name> import <function_name>
import <module_name> as m
from <module_name> import <function_name> as m_function
from <module_name> import *